{% extends "base.html" %}

{% macro render_field(field) -%}
  {% set with_label = kwargs.pop('no_label', True) %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    {% if with_label %}
      <label for="{{ field.name }}">{{ field.label.text }}{% if field.flags.required %} *{% endif %}</label>
    {% endif %}
    {% if field.errors %}
      <span class="error help-block">{{ field.errors|join(', ') }}</span>
    {% endif %}
    {% if field.type == 'RadioField' %}
      {% for choice in field.choices %}
        <div class="radio">
          <label>
            <input type="radio" name="{{ field.name }}" id="{{ field.name }}" value="{{ choice[0] }}"{% if field.data == choice[0] %} checked{% endif %}>
            {{ choice[1] }}
          </label>
        </div>
      {% endfor %}
    {% elif field.type == 'StringField' %}
      <input type="url" name="{{ field.name }}" class="form-control" id="{{ field.name }}" {% if field.data %}value="{{ field.data }}"{% endif %}>
    {% else %}
      {# OTHER INPUTS NOT IMPLEMENTED (CHECKBOXES, ETC) #}
    {% endif %}
    {% if field.description %}
      <p class="help-block">{{ field.description|safe }}</p>
    {% endif %}
  </div>
{%- endmacro %}

{% block content %}
<!--
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Google Sheets support coming Soon™.
  </div>
-->

  {% if ics_url %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>Congratulations</h3>
    </div>
    <div class="panel-body" style="font-size: 16px">
      <p>You've setup your calendar. Download your calendar <a href="{{ ics_url }}">here</a>.</p>
      <p>Inspect how your calendar is generated through its <a href="{{ log_url }}">log</a>. If your ics file isn't updating with your data, a previous version may be in our cache; if so try viewing its log, as this action will flush the cache.</p>
    </div>
  </div>
  {% endif %}

  <h1>Calendarz</h1>
  <p class="lead">Calendarz dynamically generates iCalendar calendars (.ics files) from a compatible data sources. ics files from Calendarz change as the source changes when accessed directly from the link.</p>
  <h1>Quick Start</h1>
  <p>Get started by selecting the type of your data, and entering the URL where it can be found.</p>
  <p>Try it out using this <a href="https://www.dropbox.com/s/bygy152mg4ccjvk/data.csv?dl=1">CSV file</a>. Below, select CSV and paste the link to the file.</p>
  <div class="well" style="">
    <form method="post">
      {{ form.csrf_token }}
      {{ render_field(form.source_type) }}
      {{ render_field(form.url) }}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <h1>Help</h1>
  <p>calendarz will parse a CSV or JSON file to generate iCalendar (.ics) files which can be imported in to different calendar apps, such as Google Calendar, Outlook, and OSX Calendar. Simply select the type of file which contains your data, and enter its URL above.</p>
  <h4>I have a calendar, now what?</h4>
  <p>Paste the link in to your calendar app, or upload the ics file. By directly using the link in your calendar app, your calendar should automatically update as the source data is updated.</p>
  <h4>I've Lost the Link</h4>
  <p>Sorry, but we can't get links back. But a just-as-good calendar can be regenerated above from the same source.</p>
  <h4>Compatible Data Sources</h4>
  <p>Calendars can be generated from CSV or JSON files. Examples of well-formed files can be found here: <a href="https://www.dropbox.com/s/bygy152mg4ccjvk/data.csv?dl=1">CSV</a> <a href="https://www.dropbox.com/s/kt8ovs5m0rz575v/data.json?dl=1">JSON</a>.</p>
  <p>A brief description of the fields:</p>
  <ul>
    <li><strong>uid</strong> an unique identifier for this event (text)</li>
    <li><strong>dtstamp</strong> event creation time (datetime)</li>
    <li><strong>dtstart</strong> event start time (datetime)</li>
    <li><strong>dtend</strong> event end time (datetime)</li>
    <li><strong>duration</strong> event duration (<a href="https://en.wikipedia.org/wiki/ISO_8601#Durations">ISO 8601 spec</a>)</li>
    <li><strong>summary</strong> short, primary event info (text)</li>
    <li><strong>description</strong> longer, secondary event info (text)</li>
    <li><strong>location</strong> event venue (text)</li>
    <li><strong>geo</strong> latitude and longitude in decimal fractions of degrees (two semicolon-separated floats)</li>
  </ul>
  <p>All of uid, dtstamp, and dtstart must be specified. No more than one of dtend and duration should be specified.</p>
  <p>Datetimes: the recommend format of dtstamp, dtstart and dtend is dd-MMM-yy hh:mm +tztz (eg 04-Feb-17 15:30 -0700). The timezone should be represented as an offset from UTC; timezone abbreviations (eg EST) are ignored. Some other formats (including ISO 8601) may work. Only dtstamp, dtstart and dtend are parsed; other fields are merely transposed from one file to another.</p>
  <p>Nonconforming calendars can be generated.</p>
  <h4>More Information About iCalendar</h4>
  <ul class="list-unstyled">
    <li><a href="https://tools.ietf.org/html/rfc5545">IETF RFC 5545</a> - the "master" document defining iCalendar specifications. RFC 5545 obsoletes <a href="https://tools.ietf.org/html/rfc2445">RFC 2445</a>. Some modifications to the specs are proposed <a href="https://tools.ietf.org/html/draft-daboo-icalendar-extensions-06">here</a>, and are implemented in some calendar apps.</li>
    <li><a href="http://www.kanzaki.com/docs/ical/">This website</a> - based on RFC 2445 succinctly covers many components of iCalendar files.</li>
  </ul>  
{% endblock %}
